:root{
    --black: #000;
    --white: #FFF;
    --grey: #bebebe;
    --rose: rgb(189 94 246);
    --whitetrans:rgba(255, 255, 255, 0.623);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;

}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 5.5rem;
}

body {
    margin-top: 5.5rem;
    color: white;
    width: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,122,122,1) 82%, rgba(255,147,87,1) 100%, rgba(252,176,69,1) 100%);
}

ul{
    list-style: none;

}

a{
    color: var(--white);
    text-decoration: none;
    font-weight: 800;
}

/* section-global ----*/
.section-container{
    width: 100%;
    min-width: auto;
}
.section-helados{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* section-global ---- */

/* header-open */
.header-container{
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}
header{
    background-color: var(--white); 
    width: 90%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.logo-container{
    display: flex;
    align-items: center;
}

.logo-jpg{
    background-image: url(./img/LogoPng.png);
    background-position: center;
    background-size: cover;
    width: 3rem;
    height: 5rem;
    padding: 2%;
    margin-left: 2rem;
}
.logo-text{
    font-family: 'Lobster';
    color: var(--black);
}

/* burgermenu */

.btn-burger{
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1.8rem;
    border: solid var(--black) 2px;
    border-radius: 10px;
    color: var(--black);
}

.nav-bar{
    margin-right: 3%;
}

.nav-bar-list{
    background-color: var(--black);
    width: 100%;
    height: 13rem;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    top: 5.5rem;
    right: 0px;
    left: 100%;
    transition: left 0.4s;
    z-index:10;
}

#toggle-menu{
    display: none;
}

#toggle-menu:checked ~ .nav-bar-list{
    left: 0%;
    transition: left 0.4s;
}

/* burgermenu-end */
/* header-end */

/* hero-container-open */

.hero{
    display:flex;
    height: 34rem;
    background-image: url(./img/heroland2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

section.hero > div{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 10px;
}

section.hero .hero-item:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    margin-left: 1rem;
    gap: 5px;
}

.h2-hero{
    font-size: 3rem;
}

.btn-info{
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.5rem;
    height: 2rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-info:hover{
    color: var(--black);
    background-color: var(--rose);
    transition: 0.4s;
}

input{
    outline: none;
    border: white 2px solid;
    border-radius: 5px;
    height: 2rem;
    width: 60%;
}
input:focus{
    border: var(--rose) 2px solid;
    transition: 0.4s;
}


/* hero-container-end */

 /* productos-open */
.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 90%;
    height: 300px;
    padding: 10px;
    gap: 10px;
}
.prod-item{
    display: flex;
    align-items: center;
    padding: 3%; 
}
.prod-item>h2{
    font-size: 1.3rem;
}
.prod-item:first-child{
    background-image: url(./img/Helado/Cucurucho.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    grid-area: 1/2/2/3;
}
.prod-item:nth-child(2){
    background-image: url(./img/Helado/heladoroll.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    grid-area: 1/3/2/4; 
}
.prod-item:nth-child(3){
    background-image: url(./img/Helado/kilohelado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    grid-area: 2/2/3/4;
}
.prod-item:nth-child(4){
    background-image: url(./img/Helado/Sabores.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    grid-area: 1/1/3/2;
}
 /* productos-end */

 /* section-login */
    .section-log {
        display: grid;
        grid-template-areas:
            "login"
            "foto";
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 15rem;
        justify-content: center;
    }

.section-log > div.log-item:first-child{
    grid-area:foto;
    background-image: url(./img/heroland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    gap: 20px;
    }
    
.section-log > div.log-item:nth-child(2){
    grid-area: login;
    background-color: var(--whitetrans);
    color: var(--black);
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
.btn-log{
    background-color: var(--black);
    color:var(--white);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: 2.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-log:hover{
    background-color: var(--rose);
    color:var(--black);
    transition: 0.4s;
}
 /* section-login-end */
/* -------------------------------------------------- */
 /* section-contacto */
.contacto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contacto{
    width: 100%;
    height: auto;
    background-color: var(--whitetrans);
    color: var(--black);
    padding: 3%;
}
.contacto-item:nth-child(7){
    width: 60%;
    height: 90px;
    resize: none;
    outline: none;
    border: white 2px solid;
}
.contacto-item:nth-child(7):focus{
    border: var(--rose) 2px solid;
    transition: 0.4s;
}
.btn-contacto{
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.5rem;
    height: 2rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-contacto:hover{
    color: var(--black);
    background-color: var(--rose);
    transition: 0.4s;
}

/* section-contacto-end */
/* 
 section-registrio-open */
.section-registrocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitetrans);
    color: var(--black);
}
.section-reg{
    width: 90%;
}
.reg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    gap: 5px;
}
.reg-form>input{
    width: 80%;
}
.reg-form-ingresar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

/* -------------------------------------------------- */
  /* open-footer */
footer{
    /* position: absolute;
    margin-bottom: 0;
    width: 100%; */
    position: relative;
    bottom: 0;
    width: 100%;
}

 .footer-containter{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    height: auto;
    padding: 2%;
    background-color: var(--black);
    bottom: 0px;
}

.footer-item{
    grid-area: 1/1/2/2;
}
.footer-item2{
    grid-area: 1/2/2/3;
}
.footer-item3{
    display: flex;
    align-items: center;
    grid-area: 2/1/2/2;
}
 /* footer-end */

/* media */

 @media (min-width: 768px) {

    .section-log > div.log-item:first-child {
        background-position-y: -135px ;
    }
    .reg-form>input {
        width: 40%;
    }
    .btn-burger{
        display: none;
    }
    
   
    
    .nav-bar-list{
        background-color: var(--white);
        height: 5.5rem;
        flex-direction: row;
        justify-content: flex-end;
        left: 47%;
        top: 0;
        width: 50%;
    }
    .nav-bar-list>a{
        color: var(--black);
    }
    .nav-bar-list>a:hover{
        border-radius: 10px;
        background-color: var(--rose);
        padding: 10px;
        transition: 0.4s;
    }
    .btn-contacto{
        width: 60%;
    }


 }